apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx-container
          image: nginx:latest
          ports:
            - containerPort: 80
#kubectl apply -f deployment.yaml
#kubectl get deploy
#kubectl get pod
#kubectl exec -it nginx-deployment -983y84y-8783274 -- /bin/bash

